- type: job
  id: ChiefEngineer
  name: job-name-ce
  description: job-description-ce
  playTimeTracker: JobChiefEngineer
  requirements:
    - !type:RoleTimeRequirement
      role: JobAtmosphericTechnician
      time: 9000 #2.5 hrs
    - !type:RoleTimeRequirement
      role: JobStationEngineer
      time: 18000 #5 hrs
    - !type:DepartmentTimeRequirement
      department: Engineering
      time: 36000 #10 hrs
      #ADT tweak start
    - !type:SpeciesRequirement
      inverted: true
      species:
      - Vox
      #ADT tweak end
  weight: 10
  startingGear: ChiefEngineerGear
  icon: "JobIconChiefEngineer"
  supervisors: job-supervisors-captain
  canBeAntag: false
  access:
  - Maintenance
  - Engineering
  - Command
  - External
  - ChiefEngineer
  - Atmospherics
  - Brig
  - Cryogenics
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff
      # - type: PhantomTyranyTarget # ADT Phantom

- type: startingGear
  id: ChiefEngineerGear
  equipment:
    id: CEPDA
    # eyes: ClothingEyesGlassesMeson #ADT-Tweak - заменено на выбор
    # ears: ClothingHeadsetCE # ADT tweak
# ADT-Tweak-start по причине того, что ассистент и остальной состав ИО спавнится с двумя поясами, если их выбрать в лоудауте
    # belt: ClothingBeltUtilityEngineering
# ADT-Tweak-end
  storage:
    back:
    - Flash
    - ADTtelescopicBaton #ADT-CustomADTLoadout
