- type: job
  id: TechnicalAssistant
  name: job-name-technical-assistant
  description: job-description-technical-assistant
  playTimeTracker: JobTechnicalAssistant
  requirements:
    - !type:OverallPlaytimeRequirement
      time: 3600 #1 hr
    #  ADT-Tweak
    # - !type:DepartmentTimeRequirement
    #   department: Engineering
    #   time: 18000 #5 hrs
    # ADT-Tweak
      # inverted: true # stop playing intern if you're good at engineering! # ADT-Tweak
# ADT-Tweak
    # - !type:DepartmentTimeRequirement
    #   department: Engineering
    #   time: 36000 #10 hrs # Corvax-RoleTime
    #   inverted: true # stop playing intern if you're good at engineering!
    #   time: 14400 # ADT-PlaytimeRequirement = 4 hrs
# ADT-Tweak
  startingGear: TechnicalAssistantGear
  icon: "JobIconTechnicalAssistant"
  supervisors: job-supervisors-engineering
  canBeAntag: false
  access:
  - Maintenance
  - Engineering
  - External

- type: startingGear
  id: TechnicalAssistantGear
  equipment:
    shoes: ClothingShoesBootsWork
    id: TechnicalAssistantPDA
# ADT-Tweak-start по причине того, что ассистент и остальной состав ИО спавнится с двумя поясами, если их выбрать в лоудауте
    # belt: ClothingBeltUtilityEngineering
# ADT-Tweak-end
    ears: ClothingHeadsetEngineering
    pocket2: BookEngineersHandbook
  #storage:
    #back:
    #- Stuff
