- type: job
  id: ADTBattleShipCommanderTSF
  name: job-name-commander-tsf
  description: job-description-commander-tsf
  playTimeTracker: JobADTBattleShipCommanderTSF
  requirements:
    - !type:SexRequirement
      allowedSex:
      - Male
    - !type:SpeciesRequirement
      inverted: false
      species:
      - Human
      - Reptilian
    - !type:DepartmentTimeRequirement
      department: Engineering
      time: 36000 #10 hrs 
    - !type:DepartmentTimeRequirement
      department: Medical
      time: 36000 #10 hrs 
    - !type:DepartmentTimeRequirement
      department: Security
      time: 36000 #10 hrs 
    - !type:OverallPlaytimeRequirement
      time: 252000 #70 hrs 
  startingGear: ADTBattleShipCommanderTSFGear
  icon: "JobIconCommanderTSF"
  joinNotifyCrew: true
  supervisors: job-supervisors-tsf-captain
  canBeAntag: false
  accessGroups:
  - AllAccess
  special:
  - !type:AddComponentSpecial
    components:
    - type: NpcFactionMember
      factions:
      - TSF
    - type: FriendlyFire
      enabled: true
    - type: FriendlyFireToggleable

- type: startingGear
  id: ADTBattleShipCommanderTSFGear
  equipment:
    jumpsuit: ClothingUniformJumpsuitERTSecurity
    back: ClothingBackpackERTSecurity
    shoes: ClothingShoesBootsCombatFilled
    head: ClothingHeadHelmetERTSecurity
    eyes: ClothingEyesGlassesSecurity
    gloves: ClothingHandsGlovesCombat
    outerClothing: ClothingOuterArmorBasicSlim
    id: ERTSecurityPDA
    ears: ClothingHeadsetAltCentCom
    belt: ClothingBeltSecurityFilled
    pocket1: DoubleEmergencyOxygenTankFilled
    pocket2: ADTBaseUplinkBOBERT
  storage:
    back:
    - BoxSurvivalEngineering
    - BoxZiptie
    - CrowbarRed
    - PinpointerNuclear
    - FlashlightSeclite
    - SpaceCash500
